@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Zera as config da página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* login e register */

#form-container {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0.5px 10px 15px rgba(0, 0, 0, 0.2);
}

#form-container a {
  color: #007bff;
  text-decoration: none;
  transition: 0.5s;
}

#form-container a:hover {
  color: #0056b3;
}

#form-container .form-control:hover {
  border: #007bff solid 2px;
}

.important { 
  color: #ff0000; 
}

.row_form {
  align-content: center;
  height: 100%;
  padding: 20px;
}

/* Menu-Nav */

.navbar {
  background: rgb(9, 9, 121);
  background: linear-gradient(90deg, rgba(9, 9, 121, 1) 0%, rgba(49, 5, 245, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.urban_logo {
  font-family: 'Righteous', cursive !important;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 10px;
}

.urban_logo a:hover {
  color: #3a51d5;
  transition: all .3s;
  text-decoration: none;
}

.log_user {
  font-family: 'Roboto', sans-serif;
  color: #FFF;
  font-size: 1em;
}

.log_user i {
  font-size: 1em;
  padding-right: 2px;
}

.btn_log_user {
  border: none;
  border-radius: 1.5em;
}

.navbar_menu {
  display: none;
  color: #FFF;

}

.nav-item_current_user {
  display: none; 
}

/* Resposividade navbar */

@media screen and (max-width: 991px) {
  .navbar_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
  }
  .navbar_collapse {
    display: flex;
    flex-direction: column;
  }
  .navbar_btn_user {
    display: none;
  }
  .nav-item_current_user {
    display: flex;
    font-size: 1.2em;
  }
  .nav-item_current_user a:hover {
    color: #3a51d5;
    transition: all .3s;
    text-decoration: none;
  }
    
}

/* Sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
  background-image: url('../img/barra_lateral.png');
  max-width: 20%;
  max-height: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat; 
}

.urban-gov-menu-gov,
.titulo-menu-gov {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.urban-gov-menu-gov {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.urban-gov-menu-gov:hover {
  border:#0056b3 2px solid; 
  color: #0056b3;
  border-radius: 8%;
  padding: 5px;
  transition: all .3s;
  text-decoration: none;
}

.titulo-menu-gov {
  font-size: 1em;
}

.titulo-menu-gov:hover {
  color: #0056b3;
  transition: all .3s;
  text-decoration: none;
}

.urban-gov-menu-gov i {
  font-size: 2.2em;
}

  /* Footer Sidebar */
.footer-sidebar p {
    font-size: 0.8rem;
}

/* Responsividade sidebar */

@media screen and (max-width: 991px) {
  .sidebar {
    display: none;
  }
}

/* Conteúdo principal - Main */

.main_base {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 100%;
  width: 80%;
  background-color: #f0f1f3;
  
}

/* Resposividade main */

@media screen and (max-width: 991px) {
  .main_base {
    width: 100%;
  }
}

/* Estaciomanento */

.bi-car-front {
  font-size: 7em;
}

.card_saldo_h1 {
  font-size: 6em;
  font-weight: 600;
  color: blue;
}
.card {
  border: #BFBFBF solid 1px;
}

/* Contador */

.custom-loader {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  animation: p1 4s infinite;
}

.contador {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes p1 {
  0% {
    background: conic-gradient(#766DF4 0, #0000 0)
  }

  12.5% {
    background: conic-gradient(#766DF4 45deg, #0000 46deg)
  }

  25% {
    background: conic-gradient(#766DF4 90deg, #0000 91deg)
  }

  37.5% {
    background: conic-gradient(#766DF4 135deg, #0000 136deg)
  }

  50% {
    background: conic-gradient(#766DF4 180deg, #0000 181deg)
  }

  62.5% {
    background: conic-gradient(#766DF4 225deg, #0000 226deg)
  }

  75% {
    background: conic-gradient(#766DF4 270deg, #0000 271deg)
  }

  87.5% {
    background: conic-gradient(#766DF4 315deg, #0000 316deg)
  }

  100% {
    background: conic-gradient(#766DF4 360deg, #0000 360deg)
  }
}
