@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #FFF;
}


body,
h1,
h2,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

section {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
/* Cabeçalho*/

section header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	z-index: 3;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
section header .logo {
	position: relative;
    font-family: 'Righteous', cursive !important;
	font-size: 2.25em;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
	text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1); 
	transition: 0.5s ease;
}

.logo :hover {
    color: #3a51d5;
    transition: all .3s;
    text-decoration: none;
}

section header .btn_login {
    position: relative;
    margin-right: 40px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
} 

section head .list-menu-site {
    position: relative;
    display: flex;
	justify-content: center;
	align-items: center;
}
.bi-list {
    font-size: 3em;
    color: #FFF;
}

@media (max-width: 480px) {
	section header .logo {
		left: -50px;
	}
	section header .toggle {
		right: -20px;
	}
}

/* Conteudo main do index */

.conteudo_site {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
    display: flex;
    flex-direction: column;
    background-image: url('/static/img/imagem_fundo_site.png');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    background-attachment: fixed;
   
}

.sombra-main {
    display: flex;
    align-items: center;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.conteudo_principal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin-left: 50px;
    text-align: left;
   

}

.conteudo_principal_titulo {
    font-size: 4em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: left;
    color: #FFF;
      
}


@media screen and (max-width: 479px) {
    .conteudo_principal,
    .conteudo_principal_titulo {
        font-size: 34px;
        line-height: 42px;
        margin: 0 auto;
        text-align: center;
    }

}

/* Footer site */

.footer-bg {
    background: linear-gradient(90deg, rgba(9, 9, 121, 1) 0%, rgba(49, 5, 245, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.footer-menu {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-menu i,
.contato-footer i,
a {
    color: white;
}

.copy-footer-site {
    color: white;
    padding-right: 40px;
    border-right: 1px solid white;
}

.social-footer {
    display: flex;
}

.social-footer i {
    font-size: 34px;
    padding: 5px;
}

@media screen and (max-width: 794px) {
    .footer-menu {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .contato-footer,
    .social-footer,
    .copy-footer-site {
        padding: 20px;
        border: none;
    }

    .social-footer i {
        padding: 15px;
    }
    .conteudo_principal_titulo {
        font-size: 3em;
    }
}

@media screen and (max-width: 461px) {
    .copy-footer-site {
        text-align: center;
        border: none;
        padding: 0;
    }
}
