{% extends 'base.html' %}
{% block conteudo %}

<div class="container-fluid">

  <form method="POST" action="{{ url_for('estacionamento.addPark')}}">

    <div class="card mx-auto" style="max-width: 540px;">
        <div class="card-header text-center">
            <i class="bi bi-check-circle fs-1" style="color: blue;"></i>
            <h6> Estacionamento realizado com sucesso! </h6>
        </div>
        <div class="card-body text-center">
            <div class="row g-0">
                <div class="col-md-6 text-center">
                    <p style="font-weight: bold;">Veículo: <p>{{estacionamento.usuarioVeiculo.veiculo.txtVeiculo}}</p></p>
                    <p style="font-weight: bold;">Ticket: <p>{{estacionamento.compra.ticket.txtTicket}}</p></p>
                    <p style="font-weight: bold;">Quantidade:  {{estacionamento.compra.qtdCartao}}</p>
                    <p style="font-weight: bold;">Horas: {{estacionamento.compra.ticket.horaTicket}}h</p>
                    <p style="font-weight: bold;">Valor Pago: R${{estacionamento.compra.qtdCartao * estacionamento.compra.ticket.valorTicket}}</p> 
                </div>
                <div class="contador col-md-6">
                    <div class="mb-2" style="font-weight: bold;">Tempo Restante
                        <input type="hidden" id="tempo" value="{{tempo}}" />
                    </div>
                    
                    <div class="mb-4">
                        <span style="color: red; font-weight: 600;"  id="timer"></span>
                    </div>

                    <div class="custom-loader"></div>
        
                    <div class="alert alert-danger" id="myAlert" role="alert">
                        <p>Seu tempo acabou!</p>
                    </div>
                </div>
            </div>                        
        </div>
    </div>

  </form>
</div>

<script>
    // Tempo em segundos
    var tempo = document.getElementById('tempo').value;

    $('#myAlert').hide();

    function countdown() {
        // Se o tempo não for zerado
        if ((tempo - 1) >= -1) {
            // Pega a parte inteira das horas
            var hours = Math.floor(tempo / 3600);
            // Pega a parte inteira dos minutos
            var minutes = Math.floor((tempo % 3600) / 60);
            // Calcula os segundos restantes
            var seconds = tempo % 60;

            // Formata os números menores que dez com zero à esquerda
            var formattedTime = (hours < 10 ? "0" + hours : hours) + ":" +
                (minutes < 10 ? "0" + minutes : minutes) + ":" +
                (seconds < 10 ? "0" + seconds : seconds);

            // Define o valor da contagem regressiva no elemento HTML
            $("#timer").html(formattedTime);

            // Define que a função será executada novamente em 1000ms = 1 segundo
            setTimeout(countdown, 1000);

            // Decrementa o tempo
            tempo--;

            // Quando o contador chegar a zero, exibe uma mensagem
            if (tempo < 0) {
                $('#myAlert').show().fadeOut(5000);
            }
        }
    }

    // Chama a função ao carregar a tela
    countdown();
</script>

{% endblock conteudo %}