{% extends 'base.html' %}
{% block conteudo %}

<div class="container-fluid">

  <form method="POST" action="{{ url_for('estacionamento.addPark')}}">

    <div class="card mx-auto" style="max-width: 540px;">
        <h6 class="card-header mb-2"><i class="bi bi-check-circle fs-3"></i> Dados do Estacionamento</h6>
        <div class="table-responsive">
          <table class="table table-striped">
              <tbody>
                  <tr>
                      <td>Veículo:</td>
                      <td>{{estacionamento.usuarioVeiculo.veiculo.txtVeiculo}}</td>
                  </tr>
                  <tr>
                      <td>Ticket:</td>
                      <td>{{estacionamento.compra.ticket.txtTicket}}</td>
                  </tr>
                  <tr>
                      <td>Quantidade:</td>
                      <td>{{estacionamento.compra.qtdCartao}}</td>
                  </tr>
                  <tr>
                      <td>Horas:</td>
                      <td>{{estacionamento.compra.ticket.horaTicket}}</td>
                  </tr>
                  <tr>
                      <td>Valor Pago:</td>
                      <td>{{estacionamento.compra.qtdCartao * estacionamento.compra.ticket.valorTicket}}</td>
                  </tr>
              </tbody>
          </table>
        </div>
    </div>

  </form>

</div>

{% endblock conteudo %}