{% extends 'base.html' %}
{% block conteudo %}

<main class="container-fluid">

  <form method="POST" action="{{ url_for('estacionamento.addPark')}}">

    <div class="container border mt-4 rounded p-4">

      <div class="container p-0 mb-1 mt-2">
        <h5 class="titulo-filtra-demandas"><strong><i class="bi bi-file-earmark-plus"></i> Dados do Estacionamento</strong>
        </h5>
        <hr class="mt-1">
      </div>
      <div class="container">
          Veículo: {{estacionamento.usuarioVeiculo.veiculo.txtVeiculo}} </br>
          Ticket: {{estacionamento.compra.ticket.txtTicket}} </br>
          Quantidade: {{estacionamento.compra.qtdCartao}} </br>
          Horas: {{estacionamento.compra.ticket.horaTicket}} </br>
          Valor Pago: {{estacionamento.compra.qtdCartao * estacionamento.compra.ticket.valorTicket}}
      </div>
    </div>

  </form>

</main>

{% endblock conteudo %}