<!DOCTYPE html>
<html lang="pt-BR">
  {% include 'include.html' %}

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid container_nav">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <button id="btn-sidebar-toggle" class="btn btn-link"><i class="bi bi-list" style="color: white; font-size: 1.5rem;"></i></button>
            </li>
          </ul>

          {% if current_user.is_authenticated %}
            <div class="btn-group ms-auto">
              <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="log_user">
                  <i class="fa fa-user"></i>
                  {{ current_user.name }}
                </span>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" style="color: black;" href="{{ url_for('login.logout') }}" id="logout-btn" onclick="logoutUser()"><i class="fa fa-power-off"></i> Sair</a>
                </li>
              </ul>
            </div>
          {% endif %}
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <section class="sidebar col-md-3 col-lg-3">
          {% include 'includeLinksEsquerda.html' %}
        </section>

        <section class="main_base col-md-9 col-lg-9">
          {% with messages = get_flashed_messages(category_filter = ['sucess']) %}
            {% if messages %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ messages[0] }}.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endif %}
          {% endwith %}

          {% with messages = get_flashed_messages(category_filter = ['error']) %}
            {% if messages %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ messages[0] }}.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endif %}
          {% endwith %}

          {% block conteudo %}

          {% endblock %}
        </section>
      </div>
    </div>
  </body>
</html>
