{% extends 'base.html' %}

{% block conteudo %}

<div class="d-flex mt-5 justify-content-center align-items-center">
  <div class="container">
    <div class="row">
      {% for tipoSolicitacao in listTipoSolicitacao %}
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div class="card-cidadao rotate-card" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Clique para cadastrar sua solicitação de: {{tipoSolicitacao.txtTipoSolicitacao}}">
            <div class="card-body-cidadao text-center m-2">
              <i class="{{tipoSolicitacao.txtIcone}} mb-2"
                onclick="window.location.href='{{ url_for('public.selecionarTipoSolicitacao', tipo_solicitacao=tipoSolicitacao.id) }}';"></i>
              <h5 class="fw-semibold">{{tipoSolicitacao.txtTipoSolicitacao}}</h5>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock conteudo %}





