{% extends 'base.html' %}
{% block conteudo %}

<div class="container-fluid">

    <form method="POST" action="{{ url_for('compra.buyCard')}}">

        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-6">
                    {{form.quantidade.label(class_="form-label")}}
                    {{form.quantidade(class_="form-control")}}
                </div>
                </br>
                <div class="col-md-6">
                    {{form.tickets.label(class_="form-label")}}
                    {{form.tickets(class_="form-control")}}
                </div>      
            </br>
            <div class="col-md-6">
                {{form.cartoes.label(class_="form-label")}}
                {{form.cartoes(class_="form-control")}}
            </div>     
            <div class="d-grid">
                {{ form.submit(class_="btn btn-primary") }}
            </div>                      
            </div>
        </div>

    </form>

</div>

{% endblock conteudo %}