{% extends 'base.html' %}

{% block conteudo %}

<div class="container border mt-4 rounded p-4">
  <div class="container p-0 mb-1 mt-2">
    <h5 class="titulo-filtra-demandas"><strong><i class="bi bi-search"></i> Consulta Protocolo</strong></h5>
    <hr class="mt-1">
  </div>
  <form method="POST"  action="{{ url_for('public.consultarProtocolo')}}">
    {{form.numeroProtocolo.label(class_="form-label")}}
    {{form.numeroProtocolo(class_="form-control")}}
    <div class="mt-3 text-end justify-content-end">
    {{ form.submit(class_="btn btn-primary") }}
    <button class="btn btn-danger ms-2" type="button"
      onclick="window.location.href='{{url_for('public.cidadao')}}';"><i
      class="bi bi-arrow-left-circle"></i>Voltar</button>
    </div>
  </form>  
</div>

{% endblock conteudo %}