<div class="urban-gov-menu-gov">
  <i class="bi bi-file-earmark-text-fill"></i>
  <a href="{{url_for('estacionamento.preparePark')}}"><span class="titulo-menu-gov">Estacionar</span></a>
</div>
<div class="urban-gov-menu-gov">
  <i class="bi bi-file-earmark-text-fill"></i>
  <a href="{{url_for('usuarioVeiculo.prepareAddVeiculo')}}"><span class="titulo-menu-gov">Meus Veículos</span></a>
</div>
<div class="urban-gov-menu-gov">
  <i class="bi bi-file-earmark-text-fill"></i>
  <a href="{{url_for('cartaoCredito.prepareAddCard')}}"><span class="titulo-menu-gov">Meus Cartões de Crédito</span></a>
</div>
<!-- Footer -->
<div class="footer-sidebar mt-auto">
  <footer class="container-fluid text-center border-top ">
    <p class="fw-semibold mt-1">&copy; 2023 Todos os direitos reservados.</p>
  </footer>
</div>