  
{% if not current_user.is_authenticated %}   
  <div class="urban-gov-menu-gov mt-3">
    <i class="bi bi-house-fill"></i>
    <a href="{{url_for('public.cidadao')}}"><span class="titulo-menu-gov">Inicio</span></a>
  </div>
{% endif %}
{% if current_user.is_authenticated %}
  <div class="urban-gov-menu-gov mt-4">
    <i class="bi bi-house-fill"></i>
    <a href="{{url_for('solicitacao.prepareSearch')}}"><span class="titulo-menu-gov">Inicio</span></a>
  </div>
{% endif %}
  <div class="menu-categorias">
    <span class="categorias-menu-gov">ATENDIMENTO</span>
  </div>
  {% if current_user.is_authenticated %}
  <div class="urban-gov-menu-gov">
    <i class="bi bi-envelope-exclamation-fill"></i>
    <a href="{{url_for('solicitacao.avisos')}}"><span class="titulo-menu-gov">Avisos</span></a>
  </div>
  <div class="urban-gov-menu-gov">
    <i class="bi bi-file-earmark-text-fill"></i>
    <a href="{{url_for('public.cidadao')}}"><span class="titulo-menu-gov">Cadastros</span></a>
  </div>
  <div class="urban-gov-menu-gov">
    <i class="bi bi-file-text-fill"></i>
    <a href="{{url_for('solicitacao.relatorios')}}"><span class="titulo-menu-gov">Relatórios</span></a>
  </div>
  <div class="urban-gov-menu-gov">
    <i class="bi bi-bar-chart-fill"></i>
    <a href="{{url_for('solicitacao.estatisticas')}}"><span class="titulo-menu-gov">Estatísticas</span></a>
  </div>
  {% endif %}
  {% if not current_user.is_authenticated %}
    <div class="urban-gov-menu-gov mt-3">
      <i class="bi bi-search"></i>
      <a href="{{url_for('public.consultarProtocolo')}}"><span class="titulo-menu-gov">Consultar Protocolo</span></a>
    </div>
  {% endif %}

   <!-- Footer -->
   <div class="footer-sidebar mt-auto">
  {% if not current_user.is_authenticated %}
    <div class="urban-gov-menu-gov">
      <i class="bi bi-envelope-fill"></i>
      <a href="#"><span class="titulo-menu-gov" data-bs-toggle="modal" data-bs-target="#contactModal">Fale Conosco</span></a>
    </div>
  {% endif %}
    <footer class="container-fluid text-center border-top ">
      <p class="fw-semibold mt-1">&copy; 2023 Todos os direitos reservados.</p>
    </footer>
  </div>

 <!-- Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contactModalLabel">Fale Conosco</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action='/send_email'>
          <div class="mb-3">
            <label for="name" class="form-label">Nome</label>
            <input type="text" class="form-control" id="name" name="name" placeholder='Digite seu nome' required>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder='Digite seu email' required>
          </div>
          <div class="mb-3">
            <label for="message" class="form-label">Mensagem</label>
            <textarea class="form-control" id="message" name="message" rows="5" placeholder='Digite sua mensagem' required></textarea>
          </div>
          <div class="modal-footer">
            <!--<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>-->
            <button id="btn-enviar" type="submit" class="btn btn-primary">Enviar mensagem</button>
            <button id="btn-enviar-loader" class="btn btn-primary" type="button" disabled>
              <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
              Enviando...
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
  
  