<a href="{{url_for('estacionamento.preparePark')}}"><div class="urban-gov-menu-gov">
  <i class="bi bi-car-front"></i>
  <span class="titulo-menu-gov">Estacionar</span>
</div> </a>
<a href="{{url_for('usuarioVeiculo.listVeiculo')}}"><div class="urban-gov-menu-gov">
  <i class="bi bi-car-front-fill"></i>
 <span class="titulo-menu-gov">Veículos</span>
</div> </a>
<!-- <a href="{{url_for('cartaoCredito.listCard')}}"><div class="urban-gov-menu-gov">
  <i class="bi bi-credit-card"></i>
  <span class="titulo-menu-gov">Cartões de Crédito</span>
</div></a> -->
<a href="{{url_for('compra.listCompra')}}"><div class="urban-gov-menu-gov">
  <i class="bi bi-bar-chart"></i>
  <span class="titulo-menu-gov">Extrato de Compras</span>
</div></a>
<a href="{{url_for('compra.prepareBuyCard')}}"><div class="urban-gov-menu-gov">
  <i class="bi bi-cart4"></i>
  <span class="titulo-menu-gov">Comprar Créditos</span>
</div></a>
<!-- Footer -->
<div class="footer-sidebar mt-auto">
  <footer class="container-fluid text-center border-top ">
    <p class="fw-semibold mt-1">&copy; 2023 Todos os direitos reservados.</p>
  </footer>
</div>