{% include 'include.html' %}

<body>

    <header class="menu-bg">
        <div class="meu-site">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="menu-logo">
                    <a class="navbar-brand menu-logo fw-bold" href="#">URBAN ZONE</a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              URBANZONE
                            </a>
                            <ul class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown1">
                                <li><a class="dropdown-item" href="{{url_for('login.login')}}">CIDADÃO</a></li>
                                <li><a class="dropdown-item" href="{{url_for('login.login')}}">ENTRAR</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    
    <footer class="footer-bg">
        <div class="footer-menu">

            <div class="copy-footer-site">
            Copyright © 2022 Tiger_Dev. Todos os direitos reservados
            </div>

            <div class="contato-footer d-flex align-items-center">
                <i class="bi bi-envelope-fill"></i>
                <a href="#" class="link-mail">contato@tiger_dev.com</a>
            </div>

            <div class="social-footer">
                <i class="bi bi-linkedin"></i>
                <i class="bi bi-instagram"></i>
                <i class="bi bi-facebook"></i>
            </div>
            
        </div>
    </footer>  
    
</body>