{% include 'include.html' %}

<body>
    <section>
        <header>   
                <a class="logo" href="#">URBAN ZONE</a> 
                <button type="button" class="btn_login btn btn-outline-light ms-auto"><a href="{{url_for('login.login')}}">ACESSE AQUI</a></li></button>  
                <i class="list-menu-site bi bi-list"></i>
    </header>
        <main class="conteudo_site">
            <div class="sombra-main">
                <section class="conteudo_principal">
                    <h1 class="conteudo_principal_titulo">Estacionamento Digital<br>é URBAN ZONE<strong></h1>
                </section>
            </div>
        </main>
    </section>
    <footer class="footer-bg">
        <div class="footer-menu">

            <div class="copy-footer-site">
            Copyright © 2023 Tiger Todos os direitos reservados
            </div>

            <div class="contato-footer d-flex align-items-center">
                <i class="bi bi-envelope-fill"></i>
                <a href="#" class="link-mail">contato@tiger_dev.com</a>
            </div>

            <div class="social-footer">
                <i class="bi bi-linkedin"></i>
                <i class="bi bi-instagram"></i>
                <i class="bi bi-facebook"></i>
            </div>
            
        </div>
    </footer>       
</body>