{% extends 'base.html' %}

{% block conteudo %}



  <div class="container border mt-2 rounded p-4">

    <div class="container p-0 mb-1 mt-1">
      <h5 class="titulo-filtra-demandas"> <strong> <i class="bi bi-search"></i> Consultas </strong></h5>
      <hr class="mt-1">
    </div>

    <form action="{{url_for('solicitacao.search')}}" method="GET">
      <div class="row">
        <div class="col m-1">
          <label class="form-label m-1"> Protocolo: </label>
          <input type="text" name="numProtocoloSearch" class="form-control form-control-sm m-1"
            placeholder="Número do Protocolo" />
        </div>

        <div class="col m-1">
          <label class="form-label m-1"> Solicitação: </label>
          <select class="form-select form-select-sm m-1" aria-label="Selecione o Tipo de Solicitação"
            name="tipoSolicitacaoSearch">
            <option selected value=""> - Todos - </option>
            {% for tipoSolicitacao in listTipoSolicitacao %}
            <option value="{{ tipoSolicitacao.id }}">{{ tipoSolicitacao.txtTipoSolicitacao }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="col m-1">
          <label class="form-label m-1"> Status: </label>
          <select class="form-select form-select-sm m-1" aria-label="Selecione o Status" name="statusSearch">
            <option selected value=""> - Todos - </option>
            {% for status in listStatus %}
            <option value="{{ status.id }}">{{ status.txtStatus }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="row">
          <div class="col m-1">
            <label class="form-label m-1"> Início: </label>
            <input type="date" name="dataInicioSearch" class="form-control form-control-sm m-1"
              placeholder="dd/mm/aa" />
          </div>

          <div class="col m-1">
            <label class="form-label m-1"> Fim: </label>
            <input type="date" name="dataFimSearch" class="form-control form-control-sm m-1" placeholder="dd/mm/aa" />
          </div>

          <div class="col m-1 div-button-filtrar-eventos">
            <button type="submit" class="btn btn-success btn-sm m-1">
              <i class="bi bi-filter-circle"></i> Filtrar </button>
            <button type="reset" class="btn btn-danger btn-sm m-1">
              <i class="bi bi-x-circle"></i> Limpar </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="container border mt-2 rounded p-4 mb-2">

    <div class="container p-0 mb-1 mt-1">
      <h6 class="titulo-filtra-demandas"> <strong><i class="bi-list-ul"></i>&nbsp;&nbsp; Lista de Solicitações
        </strong></h5>
      <hr class="mt-1">
    </div>

    <div class="table-responsive">

      <table class="table table-striped table-hover table-borderless">
        {% if listSolicitacaoHistorico != None %}
        <thead>
          <tr>
            <th scope="col">Solicitação</th>
            <th scope="col">Protocolo</th>
            <th scope="col">Status</th>
            <th scope="col">Data de Início</th>
            <th scope="col">Visualizar</th>
          </tr>
        </thead>
        <tbody>
          {% for solicitacaoHistorico in listSolicitacaoHistorico.items %}
          <tr>
            <td>{{solicitacaoHistorico.solicitacao.tipoSolicitacao.txtTipoSolicitacao}}</td>
            <td>{{solicitacaoHistorico.solicitacao.txtProtocolo}}</td>
            <td>{{solicitacaoHistorico.status.txtStatus}}</td>
            <td>{{solicitacaoHistorico.dataInicio.strftime('%d/%m/%Y %H:%M')}}</td>
            <td class="text-center"><i class="bi bi-binoculars-fill"
                onclick="window.location.href='{{url_for('solicitacao.visualizar', idSolicitacao=solicitacaoHistorico.solicitacao.id)}}';"></i>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        {% else %}
        <tr>
          <td>
            Nenhuma solicitação cadastrada
          </td>
        </tr>
        {% endif %}
      </table>
    </div>
    {% if listSolicitacaoHistorico != None %}
      <!-- Pagination Links-->
      <div class="container pagination text-center justify-content-center">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li> <a
                href="{{ url_for('solicitacao.search', numProtocoloSearch=numProtocoloSearch, statusSearch=statusSearch, dataInicioSearch=dataInicioSearch, dataFimSearch=dataFimSearch, page=listSolicitacaoHistorico.prev_num) }}"
                class="page-link  {% if listSolicitacaoHistorico.page == 1 %}disabled{% endif %}">Anterior</a>
            </li><!-- Loop through the number of pages to display a link for each-->
            {% for page_num in listSolicitacaoHistorico.iter_pages(left_edge=1, right_edge=1, left_current=1,
            right_current=2)
            %}
            {% if page_num %}
            <!-- Check for the active page and set the link to "Active"-->
            {% if listSolicitacaoHistorico.page == page_num %}
            <li class="page-item active"> <a
                href="{{ url_for('solicitacao.search', numProtocoloSearch=numProtocoloSearch, statusSearch=statusSearch, dataInicioSearch=dataInicioSearch, dataFimSearch=dataFimSearch, page=page_num) }}"
                class="page-link">
                {{ page_num }}
              </a></li>
            {% else %}
            <li class="page-item"><a
                href="{{ url_for('solicitacao.search', numProtocoloSearch=numProtocoloSearch, statusSearch=statusSearch, dataInicioSearch=dataInicioSearch, dataFimSearch=dataFimSearch, page=page_num) }}"
                class="page-link">
                {{ page_num }}
              </a></li>
            {% endif %}
            {% else %}
            ...
            {% endif %}
            {% endfor %}
            <li class="page-item"><a
                href="{{ url_for('solicitacao.search', numProtocoloSearch=numProtocoloSearch, statusSearch=statusSearch, dataInicioSearch=dataInicioSearch, dataFimSearch=dataFimSearch, page=listSolicitacaoHistorico.next_num) }}"
                class="page-link 
                    {% if listSolicitacaoHistorico.page == listSolicitacaoHistorico.pages %}disabled{% endif %}">
                Próxima
              </a></li>
          </ul>
        </nav>
      </div>
    </div>
    {% endif %}
  </div>    



{% endblock conteudo %}