{% extends 'base.html' %}
{% block conteudo %}

<div class="container-fluid">
 
    <div class="card">

        <div class="card-body">
            <h6 class="card-header mb-2"><i class="bi bi-credit-card fs-3"></i> Gerencie seus Cartões de Crédito </h6>
            <p class="card-text mb-2">Aqui você gerencia seus meios de pagamento.</p>
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered border-bottom">
                    <thead class="table-primary">
                        <tr>
                            <th class="text-left">Nome</th>
                            <th class="text-left">Número</th>
                            <th class="text-left">Validade</th>
                            <th class="text-left">CVC</th>
                            <th class="text-left">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in listCartaoCredito %}
                        <tr>
                            <td>{{ row.txtNome }}</td>
                            <td>{{ row.txtNumero }}</td>
                            <td>{{ row.txtValidade }}</td>
                            <td>{{ row.txtCVC }}</td>
                            <td>
                                <a href="{{ url_for('cartaoCredito.deleteCreditCard', idCartaoCredito=row.id) }}"
                                    class="btn btn-danger btn-sm" role="button">
                                    <i class="bi bi-trash-fill"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-end">
            <button type="button" class="btn btn-primary" onclick="window.location.href='{{url_for('cartaoCredito.prepareAddCard')}}';">Cadastrar Novo</button>
        </div>

</div>

{% endblock conteudo %}