<!DOCTYPE html>
<html lang="pt-BR">

{% include 'include.html' %}

<body>
    <div class="container col-11 col-md-9" id="form-container">
        <div class="row gx-5">
            <div class="col-md-6">
                <h2>Realize o seu cadastro</h2>

                {% with messages = get_flashed_messages(category_filter=["exist"]) %}
                {% if messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ messages[0] }}. Ir para <a href="{{ url_for('login.login') }}">página de login</a>.
                    </div>
                {% endif %}
                {% endwith %} 
                
                {% with messages = get_flashed_messages(category_filter=["error"]) %}
                {% if messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ messages[0] }}.
                    </div>
                {% endif %}
                {% endwith %}  
                
                <form action="" method="post">
                    <div class="form-floating mb-3">
                        {{form.name.label(class_="form-label")}}
                        {{form.name(class_="form-control")}}
                        {% for error in form.name.errors %}
                            <div class="important">
                                {{error}}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="form-floating mb-3">
                        {{form.email.label(class_="form-label")}}
                        {{form.email(class_="form-control")}}
                        {% for error in form.email.errors %}
                            <div class="important">
                                {{error}}
                            </div>
                        {% endfor %}                        
                    </div>
                    <div class="form-floating mb-3">
                        {{form.cpf.label(class_="form-label")}}
                        {{form.cpf(class_="form-control")}}
                        {% for error in form.cpf.errors %}
                            <div class="important">
                                {{error}}
                            </div>
                        {% endfor %}                        
                    </div>                    
                    <div class="form-floating mb-3">
                        {{form.password.label(class_="form-label")}}
                        {{form.password(class_="form-control")}}
                        {% for error in form.password.errors %}
                            <div class="important">
                                {{error}}
                            </div>
                        {% endfor %}                           
                    </div>
                    <div class="form-floating mb-3">
                        {{form.confirm_password.label(class_="form-label")}}
                        {{form.confirm_password(class_="form-control")}}
                        {% for error in form.confirm_password.errors %}
                            <div class="important">
                                {{error}}
                            </div>
                        {% endfor %}                           
                    </div>                    
                    <div class="mb-3">
                        <div class="form-check mb-2">
                            {{form.accept_tos.label(class_="form-label")}}
                            {{form.accept_tos(class_="form-check-input")}}
                            {% for error in form.accept_tos.errors %}
                                <div class="important">
                                    {{error}}
                                </div>
                            {% endfor %}                             
                        </div>
                        <div class="form-check mb-2">
                            {{form.newsletters.label(class_="form-label")}}
                            {{form.newsletters(class_="form-check-input")}}
                            {% for error in form.newsletters.errors %}
                                <div class="important">
                                    {{error}}
                                </div>
                            {% endfor %}                             
                        </div>                        
                        <!-- <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="agree-term">
                            <label class="form-check-label" for="agree-term">
                                Você aceita os <a href="#">termos de serviço</a>?
                            </label>
                        </div> -->
                        <!-- <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="newsletter" checked>
                            <label class="form-check-label" for="newsletter">
                                Deseja receber as nossas Newsletters?
                            </label>
                        </div> -->
                    </div>
                    {{ form.submit(class_="btn btn-primary") }}
                </form>
            </div>
            <div class="col-md-6">
                <div class="row align-items-center">
                    <div class="col-12">
                        <img src="static/img/login_image.svg" alt="Olá, novo usuário!" class="img-fluid">
                    </div>
                    <div class="col-12" id="link-container">
                        <a href="{{url_for('login.login')}}">Eu já tenho uma conta</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>