{% extends 'base.html' %}

{% block conteudo %}

<main class="container-fluid">
  <div class="container border mt-2 rounded p-4">
    <div class="container p-0 mb-1 mt-1">
      <h5 class="titulo-filtra-demandas"> <strong> <i class="bi bi-check2-square"></i> Atendimento </strong></h5>
      <hr class="mt-1">
    </div>
    <div class="form-group mb-2">
      <span><strong>Nome: </strong> </span> {{solicitacaoHistorico.solicitacao.txtNome}}
    </div>
    <div class="form-group mb-2">
      <span><strong>CPF: </strong> </span> {{solicitacaoHistorico.solicitacao.txtCpf}}
    </div>
    <div class="form-group mb-2">
      <span><strong>E-mail:</strong> </span> {{solicitacaoHistorico.solicitacao.txtEmail}}
    </div>
    <div class="form-group mb-2">
      <span><strong>Endereço:</strong> </span> {{solicitacaoHistorico.solicitacao.txtEndereco}}
    </div>
    <div class="form-group mb-2">
      <span><strong>Whatsapp:</strong> </span> {{solicitacaoHistorico.solicitacao.txtWhatsapp}}
    </div>
    <div class="form-group d-flex  mb-2">
      <span class='mt-2 p-1'><strong>Status:</strong> </span><span class="fw-semibold">
        {% if solicitacaoHistorico.status.id == 1 %}
        <p class="alert alert-warning mt-2 p-1 " role="alert"> {{solicitacaoHistorico.status.txtStatus}} </p>
        {% endif %}

        {% if solicitacaoHistorico.status.id == 2 %}
        <p class="alert alert-info mt-2 p-1" role="alert"> {{solicitacaoHistorico.status.txtStatus}} </p>
        {% endif %}

        {% if solicitacaoHistorico.status.id == 3 %}
        <p class="alert alert-success mt-2 p-1" role="alert"> {{solicitacaoHistorico.status.txtStatus}} </p>
        {% endif %}

        {% if solicitacaoHistorico.status.id == 4 %}
        <p class="alert alert-danger mt-2 p-1" role="alert"> {{solicitacaoHistorico.status.txtStatus}} </p>
        {% endif %}

        {% if solicitacaoHistorico.status.id == 5 %}
        <p class="alert alert-light mt-2 p-1" role="alert"> {{solicitacaoHistorico.status.txtStatus}} </p>
        {% endif %}

        {% if solicitacaoHistorico.status.id == 6 %}
        <p class="alert alert-primary mt-2 p-1" role="alert"> {{solicitacaoHistorico.status.txtStatus}} </p>
        {% endif %}
    </span> 
    </div>
  </div>  
  <div class="container border mt-2 rounded p-4 mb-1">

    <form method="POST" action="{{ url_for('solicitacao.analisar')}}">
      <div class="container mt-2 rounded p-2 mb-1">
        <div class="container p-0 mb-1 mt-1">
          <h6 class="titulo-filtra-demandas"> <strong><i class="bi-list-ul"></i>&nbsp;&nbsp; Documentação </strong></h6>
          <hr class="mt-1">
        </div>
        <div class="table-responsive">
          
            <table class="table table-striped table-hover table-borderless border-bottom">
              <thead>
                <tr>
                  <th>Solicitação</th>
                  <th>Protocolo</th>
                  <th>Documento</th>
                  <th>Nome do arquivo</th>
                  <th>Status</th>
                  <th>Abrir</th>
                  {% if solicitacaoHistorico.status.id == 2%}
                  <th>{{form.analise.label(class_="form-label")}}</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
                {% for solicitacaoDocumento in listSolicitacaoDocumento %}
                <tr>
                  <td>{{ solicitacaoDocumento.solicitacao.tipoSolicitacao.txtTipoSolicitacao }}</td>
                  <td>{{ solicitacaoDocumento.solicitacao.txtProtocolo }}</td>
                  <td>{{ solicitacaoDocumento.documento.txtDocumento }}</td>
                  <td>{{ solicitacaoDocumento.filename }}</td>
                  <td>{{ 'Deferido' if solicitacaoDocumento.flgDeferido else ( 'Não Analisado' if
                    solicitacaoDocumento.flgDeferido == None else'Indeferido') }}</td>
                  <td>
                    <a href="{{ url_for('solicitacao.open', idSolicitacaoDocumento=solicitacaoDocumento.id) }}"
                      class="btn btn-link" role="button">
                      <i class="bi bi-binoculars"></i>
                    </a>
                  </td>
                  {% if solicitacaoHistorico.status.id == 2%}
                  <td>
                    {% if not solicitacaoDocumento.flgDeferido %}
                    {{form.documento(value=solicitacaoDocumento.documento.id)}}
                    {{form.idSolicitacaoDocumento(value=solicitacaoDocumento.id)}}
                    {{form.idSolicitacaoHistorico(value=solicitacaoHistorico.id)}}
                    {{form.idSolicitacao(value=solicitacaoHistorico.solicitacao.id)}}
                    <div>
                      <input type="radio" name={{solicitacaoDocumento.documento.id}} value="true">
                      <label for="huey">Sim</label>
                    </div>
                    <div>
                      <input type="radio" name={{solicitacaoDocumento.documento.id}} value="false">
                      <label for="dewey">Não</label>
                    </div>
                    {% endif %}
                  </td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>

            {% if solicitacaoHistorico.status.id == 2%}
            <br>
            <div class="table-responsive">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th><label for="observacao" class="form-label">{{form.observacao.label()}}:</label></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      {{form.observacao(class_="form-control", rows="5")}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
  
            {% endif %}
        </div>
        <div class="card-footer border-0 text-end justify-content-end">
          <!-- Se o status do documento for EM ANDAMENTO -->
          {% if solicitacaoHistorico.status.id == 2%}
          {{ form.submit(class_="btn btn-primary") }}
          {% endif %}
          {% if solicitacaoHistorico.status.id == 3%}
          <button class="btn btn-warning ms-3" type="button"
            onclick="window.location.href='{{url_for('solicitacao.finalizar', idSolicitacaoHistorico=solicitacaoHistorico.id)}}';">Finalizar</button>
          {% endif %}
          <!-- Se o status do documento for AGUARDANDO ATENDIMENTO ou REENVIADO permite atender -->
          {% if solicitacaoHistorico.status.id == 1 or solicitacaoHistorico.status.id == 6%}
          <button class="btn btn-success ms-3" type="button"
            onclick="window.location.href='{{url_for('solicitacao.atender', idSolicitacaoHistorico=solicitacaoHistorico.id)}}';">Atender</button>
          {% endif %}
          {% if solicitacaoHistorico.status.id== 3%}
          <button class="btn btn-secondary ms-3" type="button"
            onclick="window.location.href='{{url_for('solicitacao.imprimirCredencial', idSolicitacao=solicitacaoHistorico.solicitacao.id)}}';">Imprimir
            Credencial</button>
          {% endif %}
          <button class="btn btn-danger ms-3" type="button" onclick="window.history.back()">Voltar</button>
        </div>
      </div>
    </div>
    </form>

  </div>

</main>


{% endblock conteudo %}