{% extends 'base.html' %}

{% block conteudo %}


{% if solicitacao %}
<div class="container border mt-4 rounded p-4">
  <div class="container p-0 mb-1 mt-2">
    <h5 class="titulo-filtra-demandas"><strong><i class="bi bi-search"></i> Consulta Solicitações </strong></h5>
    <hr class="mt-1">
  </div>
  <div class="container p-0 mb-1 mt-1 border-bottom">
    <span><strong>Tipo de Solicitação:</strong> {{ solicitacao.tipoSolicitacao.txtTipoSolicitacao}}</span>
  </div>
  {% endif %}

{% for solicitacaoHistorico in solicitacao.listSolicitacaoHistorico %}
<div class="container mt-4">
  <table class="table table-bordered">
    <tr >
      <td class=d-flex >
        <span class='mt-1 p-1'><strong>Status:</strong></span><span class="fw-semibold">
        {% if solicitacaoHistorico.status.id == 1 %}
        <p class="alert alert-warning mt-1 p-1 " role="alert"> {{solicitacaoHistorico.status.txtStatus}} </p>
        {% endif %}

        {% if solicitacaoHistorico.status.id == 2 %}
        <p class="alert alert-info mt-1 p-1" role="alert"> {{solicitacaoHistorico.status.txtStatus}} </p>
        {% endif %}

        {% if solicitacaoHistorico.status.id == 3 %}
        <p class="alert alert-success mt-1 p-1" role="alert"> {{solicitacaoHistorico.status.txtStatus}} </p>
        {% endif %}

        {% if solicitacaoHistorico.status.id == 4 %}
        <p class="alert alert-danger mt-1 p-1" role="alert"> {{solicitacaoHistorico.status.txtStatus}} </p>
        {% endif %}

        {% if solicitacaoHistorico.status.id == 5 %}
        <p class="alert alert-light mt-1 p-1" role="alert"> {{solicitacaoHistorico.status.txtStatus}} </p>
        {% endif %}

        {% if solicitacaoHistorico.status.id == 6 %}
        <p class="alert alert-primary mt-1 p-1" role="alert"> {{solicitacaoHistorico.status.txtStatus}} </p>
        {% endif %}
    </span> </td>
    </tr>
    <tr>
      <td><strong>Observação:</strong> {{ solicitacaoHistorico.txtObservacao}}</td>
    </tr>
    <tr>
      <td><strong>Data:</strong> {{solicitacaoHistorico.dataInicio.strftime('%d/%m/%Y %H:%M')}}</td>
    </tr>
  </table>
</div>
{% endfor %}
  <div class="border-0 text-end justify-content-end">
    <button type="button" class="btn btn-danger" onclick="window.location.href='{{url_for('public.cidadao')}}';"><i
        class="bi bi-arrow-left-circle"></i>Voltar
    </button>
  </div>
</div>

{% if solicitacaoHistorico.status.id == 4 %}
<div class="container border mt-4 rounded p-4">
  <div class="container p-0 mb-1 mt-2">
    <h6 class="titulo-filtra-demandas"><strong> Documentação analisada </strong></h6>
    <hr class="mt-1">
  </div>
  <form method="POST" enctype='multipart/form-data' action="{{ url_for('public.atualizarDocumento')}}">
    <div class="form-group mb-4">
      {{form.file.label(class_="form-label")}}
      {% for solicitacaoDocumento in solicitacao.listSolicitacaoDocumento %}
      <div class="mb-3">
        <label for="{{solicitacaoDocumento.documento.id}}" class="form-label">{{solicitacaoDocumento.documento.txtDocumento}}:</label>
        {% if solicitacaoDocumento.flgDeferido %}
          {{solicitacaoDocumento.filename}} - Deferido
        {% else %}
          {{form.file(class_="form-control", id=solicitacaoDocumento.documento.id)}}
          {{form.documento(class_="form-control", id=solicitacaoDocumento.documento.id, value=solicitacaoDocumento.documento.id)}}
          {{form.solicitacaoHistorico(class_="form-control", id=solicitacaoDocumento.id, value=solicitacaoHistorico.id)}}
          {{form.solicitacaoDocumento(class_="form-control", id=solicitacaoDocumento.id, value=solicitacaoDocumento.id)}}
        {% endif %}
        {% for error in form.file.errors %}
        <div class="invalid-feedback">
          {{error}}
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>

    <div class="border-0 text-end justify-content-end mb-2">
      <button type="submit" class="btn btn-primary "><i class="bi bi-pencil-square"></i>Reenviar</button>
      <button type="button" class="btn btn-danger" onclick="window.location.href='{{url_for('public.cidadao')}}';"><i
          class="bi bi-arrow-left-circle"></i>Voltar
      </button>
    </div>
  </form>
{% endif %}  
</div>

{% endblock conteudo %}